# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Resend (Email)
RESEND_API_KEY=
RESEND_FROM_EMAIL=billing@yourdomain.com

# Vercel Blob (PDF Storage)
BLOB_READ_WRITE_TOKEN=

# Payment Gateway
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
